---
layout: default
permalink: /biased/
title: Biased
---

<div class="posts">
  {% for post in site.posts %}
{% if post.tag == 'biased' %}
<div class="cards">
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <div class="date">
    {{ post.date | date: "%B %e, %Y" }}{% if post.user %} | {{ post.user }}{% endif %}
  </div>

      <div class="entry">
        <br>
        {% if post.image %}
          <img src="{{ post.image }}">
        {% endif %}
        {{ post.excerpt }}
      </div>
      <br>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">> Read More</a>
      &nbsp;
      <a href="{{ site.baseurl }}{{ post.url }}#comments" class="read-more">> Comments</a>
    </article>
</div>
{% endif %}
  {% endfor %}

</div>
