---
layout: default
---

<div class="posts">

{% for post in site.posts %}
  <div class="cards" onclick="location.href='#';" style="cursor: pointer;">
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <div class="date">
        {{ post.date | date: "%B %e, %Y" }}{% if post.user %} | {{ post.user }}{% endif %}
  </div>

      <div class="entry">
        <br>
        {% if post.image %}
          <img src="{{ post.image }}">
        {% endif %}
        <br>
        {{ post.excerpt }}
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">More</a>
      </div>

    </article>

</div>

  {% endfor %}


</div>
